<div>
  <span class="title mb-2">
    Los más Recientes
  </span>
</div>

<div class="card" *ngFor="let book of books">
  <div class="card-header bg-light">
    <p class="subtitle">{{book.name}}</p>
  </div>
  <div class="card-body-body mb-4 ml-4">
    {{book.descripcion}}
    <br> Precio: {{book.price}} €
    <br> Autor: {{book.author}}
    <!-- <div class="message-footer"> -->
      <button (click)="addBook(book)" class="button is-danger">Añadir al carrito</button>
    <!-- </div> -->
  </div>
</div>
